{
  "presets": [
    ["es2015", {"modules": false}],
    "react"
  ],
  "plugins": [
    "transform-async-to-generator",
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    ["import", [{ "libraryName": "antd", "style": "css"}]]
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
